html,body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial;
  font-size: 14px;
  line-height: 1.428571429;
  color: #333333;
}

#chart_container {
  position: relative;
  display: inline-block;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  text-align: center;
}

.hovered_node {
  display: block;
  position: fixed;
  top: 0px;
  right: 0px;
  z-index: 1000;
}
.option_list {
  display: inline-block;
  height: 180px;
  overflow-y: scroll;
}
.option_list ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

#tools {
  position: fixed;
  padding-left: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  border: solid black;
  background: white;
  height: 180px;
  top: 0px;
  left: 0px;
  z-index: 1000;
  overflow: hidden;
}

#tools.collapsed {
  width: 0px;
  padding-left: 20px;
}

#tools>div {
  display: inline-block;
  height: 100%;
}

#tool-expand {
  float: right;
  margin-left: 20px;
}
#tool-expand>button {
  display: block;
  position: absolute;
  top: 50%;
  right: 0px;
  height: 100px;
  margin-top: -50px;
  width: 20px;
}

.orgchart table {
  margin-left: auto;
  margin-right: auto;
}

.bg-col-1 { background-color: #d92e2e; }
.bg-col-2 { background-color: #d9892e; }
.bg-col-3 { background-color: #c1e630; }
.bg-col-4 { background-color: #64d9d1; }
.bg-col-5 { background-color: #6464d9; }
.bg-col-6 { background-color: #d964a2; }
.bg-col-7 { background-color: #d96464; }
.bg-col-8 { background-color: #d9a264; }
.bg-col-9 { background-color: #a2d964; }
.bg-col-10 { background-color: #64c1d9; }
.bg-col-11 { background-color: #892ed9; }
.bg-col-12 { background-color: #d92e72; }
.bg-col-13 { background-color: #d95b2e; }
.bg-col-14 { background-color: #d9a02e; }
.bg-col-15 { background-color: #79e630; }
.bg-col-16 { background-color: #3399f2; }
.bg-col-17 { background-color: #a264d9; }
.bg-col-18 { background-color: #ff759a; }
.bg-col-19 { background-color: #d98364; }
.bg-col-20 { background-color: #f2cc33; }
.bg-col-21 { background-color: #64d964; }
.bg-col-22 { background-color: #64a2d9; }
.bg-col-23 { background-color: #cd2ed9; }
.bg-col-24 { background-color: #d9722e; }
.bg-col-25 { background-color: #d9c164; }
.bg-col-26 { background-color: #36ffa1; }
.bg-col-27 { background-color: #6483d9; }
.bg-col-28 { background-color: #d964d1; }
.bg-col-29 { background-color: #d99364; }
.bg-col-30 { background-color: #d1d964; }
.bg-col-31 { background-color: #64d9a2; }
.bg-col-32 { background-color: #2e2ed9; }
.bg-col-33 { background-color: #d92ea0; }

.hidden {
  display: none;
}
